version: "3.9"

services:
  app:
    build: .
    container_name: fastapi_app
    restart: always
    env_file:
      - .env
    depends_on:
      - redis_db
    ports:
      - "8000:8000"
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000

  redis_db:
    image: redis:7-alpine
    container_name: redis_db
    restart: always
    command: redis-server --requirepass ${REDIS_PASS}
    env_file:
      - .env
    ports:
      - "6370:6379"